body {
    margin: 0;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.container {
    position: absolute;
    width: 80vh; 
    height: 80vh; 
    background-color: green; 
    top: 50%;
    left: 50%;
    margin: -40vh 0 0 -40vh;
    border: 0.5vh solid black;
}

.circle {
    /* Can't really create a board cuz cant color margin */
    width: 8vh;
    height: 8vh;
    border-radius: 5vh;
    z-index: 10;
  }
  
.box {
    position: relative;
    width: 8vh;
    height: 8vh;
    float: left;
    z-index: 5;
    border: 0.5vh solid black;
    padding: 0.5vh;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
